

body{
    background-color: rgb(34, 34, 34);
    color: white;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    /* border: red solid 2px;  */
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: rgb(4, 255, 0) solid 2px;  */
}

.titulo{
    text-align: center;
    flex-direction: column;
    line-height: 10px;
    /* border: rgb(0, 191, 255) solid 2px;  */
}

li{
    display: inline-block;
    margin: 20px;
    /* border: rgb(217, 255, 0) solid 2px;  */
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: rgb(136, 177, 82);
    transition: 0.3s;
}

#btn-conta{
    border: 2px solid rgb(136, 177, 82); 
    border-radius: 15px;
    padding: 10px;
}

#btn-conta:hover{
    background-color: rgb(136, 177, 82);
    color: white;
}

h1 {
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between;
    /* border: rgb(255, 149, 0) solid 2px;  */
}

article{
    display: flex;
    flex-direction:column;
}

h2{
    font-size: 40px;
    line-height: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

span{
    color:rgb(136, 177, 82);
}

p{
   line-height: 20px;
   max-width: 500px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: justify;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(136, 177, 82);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}
